.carousel-img-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.carousel-img-list img {
  flex: 0 0 auto;
}

.add-transition {
  transition: transform 500ms;
}

.delete-transition {
  transition-duration: 0;
}

.carousel-arrow-list {
  position: absolute;
  top: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transform: translateY(-50%);
  user-select: none;
}

.carousel-arrow-left,
.carousel-arrow-right {
  font-size: 3em;
  color: #38f;
  background: rgba(0, 0, 0, .2);
  cursor: pointer;
}

.carousel-arrow-left:hover,
.carousel-arrow-right:hover {
  background: rgba(0, 0, 0, .4);
}

.carousel-btn-list {
  position: absolute;
  top: 92%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  user-select: none;
}

.carousel-btn-list div {
  width: 0.6em;
  height: 0.6em;
  border: 1px solid #38f;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-btn-list div + div {
  margin-left: 0.8em;
}

.active-btn {
  background: #38f;
}